html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;

    background-color: #000;
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    color: #fff;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    text-shadow: 1px 1px 2px #0004;
    font-size: 11pt;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main {
    text-align: center;
    max-width: 800px;
    padding: 16px;
    margin: auto;
    background-color: #fff2;
    border-radius: 8px;
    box-shadow: 5px 5px 20px #0002;
    border: 1px solid #fff3;
}

a {
    color: #fff;
}

hr {
    border: none;
    border-top: 1px solid #fff5;
    width: 100%;
}

.logo {
    height: 160px;
    margin: 0 0 -24px 0;
}

@media (max-width: 832px) {
    main {
        border-radius: 0;
        border-left: none;
        border-right: none;
    }
}